body{
    margin: 0;
    padding: 0;
    background-color:#0066CD;
    height:100vh;
}
#login .container #login-row #login-column #login-box{
    margin-top: 50px;
    max-width: 600px;
    height: 380px;
    border: 1px solid #7e7c7c ;
    background-color:rgb(240, 235, 235);
}

#login .container #login-row #login-column #login-box #login-form {
    
    padding: 20px;
    color: rgb(97, 95, 95);
}
#login
    .container
    #login-row
    #login-column
    #login-box
    #login-form
    #register-link{
        margin-top: -85px;
        
    }
form i {
        margin-left: -30px;
        cursor: pointer;
    }
#toggle {
    margin-left: 10px; 
    cursor: pointer;
}

